.col-md-4{
    padding-right:10px;
    padding-left: 10px;
    width:430px;
    /* padding-left:10px; */
    margin-right: 2px;
    margin-left: 10px;
    background-color: rgba(220, 220, 220, 0.925);
}
p{
    text-align: justify;
}

.thumbnail_serv{
    /* padding:10px; */

    width:430px;
    /* padding-left:10px; */
    margin-right: 2px;
    margin-left: 10px;
    background-color: rgba(220, 220, 220, 0.925);

}
.img-circle{
    border: 1px solid    rgb(47, 204, 231);
}
b{
    color:rgb(47, 204, 231);;
    font-size:20px;
}
button{
float:right;
margin-left:20px;
}
.scrollmenu{
    float: right;
}

/* service */
.thumbnail thumbnail_serv{
    /* height:100px; */
    box-shadow: 5px 10px 8px #888888;
}

img {
    transition: transform 1.4s;

    /* background-color: green; */
    transition: transform 1.1s;
    
    margin: 0 auto;
  
}
img:hover{
    transform: scale(1.02);
    /* -ms-transform: scale(1.15); 
    -webkit-transform: scale(1.15);
    /* transform: scale(1.1);  */
  
}

/* footer */
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color:rgb(47, 204, 231);
    box-shadow: gray 2px;;
}
