.col-md-4{
    padding-right:10px;
    padding-left: 10px;
}
p{
    text-align: justify;
}
.thumbnail{
    /* padding:10px; */

    width:430px;
    /* padding-left:10px; */
    margin-right: 7px;
    margin-left: 10px;
    background-color: rgba(220, 220, 220, 0.925);

}
.img-circle{
    border: 1px solid    red;
}
b{
    color:red;
    font-size:20px;
}
button{
float:right;
margin-left:20px;
}
.scrollmenu{
    float: right;
}

